{% extends "news/base.html" %}

{% block title %}
    about
{% endblock %}

{% block content %}
    <div class="features">
        <h1> О нас </h1>
        <p>Самый могущественный волшебник с ними, как всегда, никуда не пойдет, и будет наблюдать за событиями со стороны, дергая за ниточки и давая иногда туманные подсказки.
            Это и есть школа жизни, где ведется игра без правил, этому и учится Гарри в перерывах между квиддичем и теоретическими занятиями. (Образовательная система и в Хогвартсе отстала от жизни на несколько веков. Пергаменты, перья, скучные лекции. Почти как у нас.)
            </p>
    </div>
{% endblock %}