{% extends "news/base.html" %}

{% block title %}
    contacts
{% endblock %}

{% block content %}
    <div class="features">
        <h1> Контакты </h1>
        <p>Самый могущественный волшебник с ними, как всегда, никуда не пойдет, и будет наблюдать за событиями со стороны, дергая за ниточки и давая иногда туманные подсказки.
            Это и есть школа жизни, где ведется игра без правил, этому и учится Гарри в перерывах между квиддичем и теоретическими занятиями. (Образовательная система и в Хогвартсе отстала от жизни на несколько веков. Пергаменты, перья, скучные лекции. Почти как у нас.)
            Но самое ужасное, хуже друзей-предателей, Волан-де-Морта и черной магии — это семейка Дурслей, куда читателей традиционно возвращают в начале каждой книги. Дурсли всегда казались мне гиперболизированными персонажами, очень злой карикатурой, скопищем всех недостатков: и идиоты, и уроды, и злыдни, и завистники.
            Дурсли — самый что ни на есть реализм. Мир ими битком набит, к сожалению. «Если с мальчишкой</p>
    </div>
{% endblock %}